-- Some settings to change this mapgen a bit
-- Copy and paste this file to your worlds folder.
-- Rename it to "yappy_settings.txt" and change what you want

-- Scale, 0.5 = small, 1 = normal, 2 = extra large [1]
yappy.scale = 1

-- Scale of terrain/hills, < 0 = holes, 1 = normal, 1.5 = high, 2 = very high [1]
yappy.terrain_scale = 1

-- Increase and decrease details. Lowest: -3, highest depends on CPU and memory [0]
yappy.details = 0

-- To make ugly parts nicer! [true]
yappy.use_mudflow		= true

-- Chances for ores and trees
yappy.tree_chance		= 14*14
yappy.tree_max_chance	= 20*20